.success-snackbar {
    background-color: green !important;
    color: white;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}